
<!--<div class="btn-group">-->
    <!--<label class="btn btn-primary" ng-model="skillTypes" btn-radio="'false'">soft</label>-->
    <!--<label class="btn btn-primary" ng-model="skillTypes" btn-radio="''" ng-init="skillTypes = ''">hard</label>-->
<!--</div>-->

<!--<div class="btn-group" dropdown ng-init="typess = ['Any', 'UX', 'Design', 'QA']; typee=typess[0]" ng-hide="skillTypes">-->
    <!--<button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>-->
        <!--{{typee}}-->
        <!--<span class="caret"></span>-->
    <!--</button>-->
    <!--<ul class="dropdown-menu" role="menu">-->
        <!--<li><a ng-click="typee = currentType" ng-repeat="currentType in typess">{{currentType}}</a></li>-->
    <!--</ul>-->
<!--</div>-->

<!--<div class="btn-group" dropdown ng-init="types = ['Any', 'English', 'Orator']; type=types[0]" ng-show="skillTypes">-->
    <!--<button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>-->
        <!--{{type}}-->
        <!--<span class="caret"></span>-->
    <!--</button>-->
    <!--<ul class="dropdown-menu" role="menu">-->
        <!--<li><a ng-click="type = currentType" ng-repeat="currentType in types">{{currentType}}</a></li>-->
    <!--</ul>-->
<!--</div>-->

<div class="row">
    <div class="col-lg-10"></div>
    <div class="col-lg-2">
        <div class="btn-group">
<!--          //  <label class="btn btn-primary" ng-model="dateOrder" btn-radio="'true'">latest</label>
          //  <label class="btn btn-primary" ng-model="dateOrder" btn-radio="''" ng-init="dateOrder = ''">soonest</label>-->
        </div>
    </div>
</div>